name: CI-Weekly

on:
  schedule:
    # Scheduled to run at 05:00 UTC every day.
    # GitHub Actions cron schedules use UTC.
    # - This corresponds to 9:00 PM PST (Pacific Standard Time, UTC-8).
    # - IMPORTANT: When Daylight Saving Time is active, this will be 10:00 PM PDT (Pacific Daylight Time, UTC-7).
    #   GitHub's scheduler does not adjust for DST.
    - cron: '0 5 * * *'
  workflow_dispatch: # Allows manual triggering from the Actions tab

# Constants for the workflow that are shared across jobs.
env:
  JAX_ENABLE_X64: 0
  JAX_TRACEBACK_FILTERING: off

permissions:
  contents: read
# We should cancel the previous run if it's still running and there is a new commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

# nightly tests for Tokamax use 2 TPUs and 2 GPUs but run for a very long time.
jobs: 
  tokamax-nightly-attention-tests:
    strategy:
      matrix:
        runner: ['linux-x86-a3-8g-h100-1gpu', 'linux-x86-a4-224-b200-1gpu', 'linux-x86-ct6e-44-1tpu']
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash
    container: 'us-docker.pkg.dev/ml-oss-artifacts-published/ml-public-container/ml-build-cuda13.0-cudnn9.15'
    timeout-minutes: 600
    steps:
      - name: Checkout Tokamax
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          python3.12 -m uv pip install --upgrade pip
          python3.12 -m uv pip --version
          python3.12 -m uv pip install -e .[cuda,tpu,test]
          python3.12 -m uv pip freeze
      - name: Test Tokamax ops with pytest
        run: |
          pytest -s --ignore-glob="*/test_base.py" --ignore-glob="*/experimental/*" tokamax/_src/ops/attention

  tokamax-nightly-tests:
    strategy:
      matrix:
        runner: ['linux-x86-a3-8g-h100-1gpu', 'linux-x86-a4-224-b200-1gpu', 'linux-x86-ct6e-44-1tpu']
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash
    container: 'us-docker.pkg.dev/ml-oss-artifacts-published/ml-public-container/ml-build-cuda13.0-cudnn9.15'
    timeout-minutes: 600
    steps:
      - name: Checkout Tokamax
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          python3.12 -m uv pip install --upgrade pip
          python3.12 -m uv pip --version
          python3.12 -m uv pip install -e .[cuda,tpu,test]
          python3.12 -m uv pip freeze
      - name: Test Tokamax ops with pytest
        run: |
          pytest -s --ignore-glob="*/test_base.py" --ignore-glob="*/experimental/*"  --ignore=tokamax/_src/ops/attention/ tokamax
