name: Run Benchmarks

on:
  # Allow manual runs from the Actions tab for testing
  workflow_dispatch:

  schedule:
    - cron: "0 0 * * *"  # Runs at 00:00 UTC every day

permissions:
  contents: read

jobs:
  run_benchmarks:
    name: Run Tokamax benchmarks
    uses: google-ml-infra/actions/.github/workflows/run-benchmarks.yaml@41d4df7f511683b977b4fa80cece1a06fabc061d
    with:
      registry_file: "tokamax/benchmarks/benchmark_registry.pbtxt"
      workflow_type: "SCHEDULED"
      ml_actions_ref: "41d4df7f511683b977b4fa80cece1a06fabc061d"
